!!! 5
html
  body
    header
      title= title
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/awesome") Awesome
          li
            a(href="/radical") Radical
          li
            a(href="/tubular") Tubular
    section#wrapper
      section.css-table
        section.three-column
          section.cell
            block content
          section.cell
            p  #{prev}
          section.cell
            p  #{name}
